<form method="post" action="{{ path('rental_delete', {'id': rental.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet emprunt?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rental.id) }}">
    <button class="btn btn-danger text-light "><i class="fas fa-trash"></i></button>
</form>
