<form method="post" action="{{ path('borrower_delete', {'id': borrower.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet emprunteur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ borrower.id) }}">
    <button class="btn btn-danger text-light" class="btn"><i class="fas fa-trash"></i></button>
</form>
