{% extends 'base.html.twig' %}

{% block title %}Modification emprunteur{% endblock %}

{% block body %}
    <h1>Modification emprunteur</h1>

    {{ include('borrower/_form.html.twig', {'button_label': 'Sauver'}) }}

    <a class="btn btn-primary" href="{{ path('borrower_index') }}">Retour</a>

    {{ include('borrower/_delete_form.html.twig') }}
{% endblock %}
