{% extends 'base.html.twig' %}

{% block title %}Nouvel emprunter{% endblock %}

{% block body %}
    <h1>Créer un emprunteur</h1>

    {{ include('borrower/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('borrower_index') }}">Retour à la liste</a>
{% endblock %}
