<form method="post" action="{{ path('book_delete', {'id': book.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce livre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn btn-danger text-light"><i class="fas fa-trash"></i></button>
</form>
